<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- script type="application/javascript" src="/js/main.js"></script-->
    <title>ifconfig.io</title>
  </head>
  <body>
    <header>
      <h1>What is my ip address? - <small>ifconfig.io</small></h1>
    </header>
    <nav></nav>
    <main>
      <table>
        <thead>
          <tr><th colspan="2">Your Connection</th></tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
          <tr>
            <td>IP Address</td><td>{{ ip_address }}</td>
          </tr>
          <tr>
            <td>Remote Host</td><td>{{ remote_host }}</td>
          </tr>
          <tr>
            <td>User Agent</td><td>{{ user_agent }}</td>
          </tr>
          <tr>
            <td>Port</td><td>{{ port }}</td>
          </tr>
          <tr>
            <td>Language</td><td>{{ language }}</td>
          </tr>
          <tr>
            <td>Referer</td><td>{{ referer }}</td>
          </tr>
          <tr>
            <td>Connection</td><td>{{ connection }}</td>
          </tr>
          <tr>
            <td>KeepAlive</td><td>{{ keep_alive }}</td>
          </tr>
          <tr>
            <td>Method</td><td>{{ method }}</td>
          </tr>
          <tr>
            <td>Encoding</td><td>{{ encoding }}</td>
          </tr>
          <tr>
            <td>MIME Type</td><td>{{ mime_type }}</td>
          </tr>
          <tr>
            <td>Charset</td><td>{{ charset }}</td>
          </tr>
          <tr>
            <td>Via</td><td>{{ via }}</td>
          </tr>
          <tr>
            <td>X-Forwarded-For</td><td>{{ x_forwarded_for }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th colspan="2">Command Line Interface</th>
          </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
          <tr>
            <td>$ curl ifconfig.io</td><td>{{ ipaddr }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/ip</td><td>{{ ipaddr }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/host</td><td>{{ hostname }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/ua</td><td>{{ useragent }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/port</td><td>{{ port }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/lang</td><td>{{ language }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/keepalive</td><td>{{ keepalive }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/connection</td><td>{{ keep_alive }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/encoding</td><td>{{ encoding }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/mime</td><td>{{ mime_type }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/charset</td><td>{{ charset }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/via</td><td>{{ via }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/forwarded</td><td>{{ x_forwarded_for }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/all</td><td>{{ hash as yaml }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/all.xml</td><td>{{ hash as xml }}</td>
          </tr>
          <tr>
            <td>$ curl ifconfig.io/all.json</td><td>{{ hash as json }}</td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>&copy; 2014 ifconfig.io</footer>
  </body>
</html>
